<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <title>demo</title>
    <link href="layout.css" rel="stylesheet">
    <script src="layout.js"></script>
</head>
<body>
<div th:replace="~{fragment/header :: header}">index header</div>
<div layout:fragment="content"></div>
<div th:replace="~{fragment/footer :: footer}">index footer</div>
</body>
<script type="text/javascript">
    console.log('layout...')
</script>
</html>

